<div class="filters-opt">
    <div id="filters">
      <div class="filter" name="listing[Trending]">
        <div><i class="fa-solid fa-fire"></i></div>
        <p class="filter-opt">Trending</p>
      </div>
      <div class="filter" name="listing[Beach]">
        <div><i class="fa-solid fa-bed"></i></div>
        <p class="filter-opt">Beach</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p class="filter-opt">Iconic Cities</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p class="filter-opt">Mountains</p>
      </div>
     
      <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p class="filter-opt">Amazing Pools</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p class="filter-opt">Camping</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-cow"></i></div>
        <p class="filter-opt">Farms</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-igloo"></i></div>
        <p class="filter-opt">Domes</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-ship"></i></div>
        <p class="filter-opt">Boats</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-ship"></i></div>
        <p class="filter-opt">Castles</p>
      </div>
    </div>

    <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Display Total after taxes</label
        >
      </div>
    </div>
  </div>